
.list-group-item-custom {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 3px solid #eee;
}
.list-group-item-custom:hover {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 3px solid #eee;
}
.list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.persona-img {
    max-width: 450px;
    min-width: auto;
}
.list-group-research {
    margin-top: 5rem;
}
.user-research-list {
    border: 0;
}

@media (max-width:768px) {
    .persona-img {
        max-width: 300px;
        min-width: auto;
    }
}
