/*-----------------------Work starts----------------------*/
body {
    font-family: Poppins, sans-serif;
}
/*-----------------------Work ends----------------------*/

/*-----------------------About starts----------------------*/
.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5rem 0;
}
p {
    line-height: 1.8;
    margin-top: 36px ;
}
.images img {
    width: 100%;
}
.about-me{
    width: 40%;
    padding-right: 2rem;
}
.images {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 16rem);
    grid-gap: 20px;
}
.images-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-group-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border:none;
}
.list-group-item div {
    width: 40%;
}
.no {
    width: 10%;
}
.title {
    width: 50%;
}


@media only screen and (max-width: 1024px) {
    .about-me{
        width: 33%;
    }
    .images {
        width: 67%;
        display: grid;
        grid-template-columns: repeat(2, 19rem);
        grid-gap: 20px;
    }
}


@media only screen and (max-width: 768px) {
    .about-me{
        width: 40%;
    }
    .images {
        width: 60%;
        display: grid;
        grid-template-columns: repeat(2, 12rem);
        grid-gap: 20px;
    }
    .list-group-item {
        flex-direction: column;
    }
    .list-group-item div {
        width: 100%;
    }
    .no {
        display: none;
    }
}


@media only screen and (max-width: 375px) {
    .about{
        flex-direction: column;
    }
    .about-me{
        width: 100%;
        padding: 0;
    }
    .images {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 10rem);
        grid-gap: 20px;
    }
}

/*-----------------------About ends----------------------*/
